.formOrder{
  h2{
    padding: 10px 0;
  }
  label{
    padding-top: 20px;
    margin-left: 5px;
    font-weight: bold;
  }
}

.boxWrapper{
  padding: 10px;
  display: flex;
  justify-content: center;
}
