.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;

  svg{
    color: #FF8C00;
    font-size: 40px;
  }

  .signUpTitle {
    font-size: 24px;
    margin: 5px;
    font-weight: bold;
  }

  .formContainer {
    width: 500px;
    padding: 10px;

    .formField {
      position: relative;
      .input{
        width: 100%;
        padding: 20px;
        margin: 8px 0 15px 0;
        box-sizing: border-box;
        border: 1px solid gray;
        border-radius: 4px;
        outline: none;

        &:hover{
          border: 1px solid black;
        }

        &:focus {
          border-color: #FF8C00; // Зміна коліру бордера при фокусі
        }
      }
      button{
        position: absolute;
        margin-top: 13px;
        margin-right: 5px;
        right: 0;
        svg{
          color: #707070;
          font-size: 25px;
          padding: 0;
        }
      }

    }
    .buttonField {
      display: flex;
      justify-content: center;
    }
  }
  .linkForm{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    a{
      color: #0072c7;
      text-decoration: none;
      transition: text-decoration 0.3s ease;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 702px) {
  .gridContainer{
    .formContainer{
      width: 80%;
    }
    .linkForm{
      width: 80%;
    }
  }
}