.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .signUpTitle {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .formContainer {
    width: 50%;
    padding: 10px;

    .buttonField {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 820px) {
  .gridContainer{
    .formContainer{
      width: 90%;
    }
  }
}