.myCard {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: "Roboto","Helvetica","Arial",sans-serif;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  }

  .imageContainer {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .cardImage{
      width: 100%;
      border-radius: 10px;
    }
  }

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .detailsContainer {
      display: flex;
      flex-direction: column;
      p{
        margin: 5px 0 5px 10px;
        font-size: 20px;
      }
    }

    .cartContainer {
      display: flex;
      align-items: center;
      margin-left: auto;

      svg{
        color: #FF8C00;
        padding: 0;
      }

      .quantity {
        margin-left: 5px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        p{
          margin: 0;
          font-size: 24px;
          font-weight: 400;
          color: #FF9800;
        }
      }
    }
  }

}
